parameters:
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    editorUrlTitle: 'file:///%%file%%:%%line%%'

    paths:
        - src/

    level: 9

    ignoreErrors:
        - '#^Method ParseHolyLandPhone\\ParsePhone::__call\(\) has parameter \$arguments with no value type specified in iterable type array\.$#'
